 .violet{ 
    background-color:violet;
    color:black;
    padding: 0 7px 0 7px;
  }
  
  .green{ 
    background-color: green;
    color: white;
    padding: 0 7px 0 7px;
  }
  .yellow{ 
    background-color: yellow;
    color:black;
    padding: 0 7px 0 7px;
 }
  .orange{ 
    background-color: orange;
    color:black;
    padding: 0 7px 0 7px;
  }
  .red{ 
    background-color: red;
    color:black;
    padding: 0 7px 0 7px;
  }
  